@model ProjektKatthem.Models.Adopt

@{
    ViewData["Title"] = "Redigera";
}

<div class="infocolor">
    <h1>Redigera </h1>
    <a asp-action="Index" class="btn btn-dark">Tillbaka</a> |
    <a asp-action='Delete' class="btn btn-danger" asp-route-id='@Model.AdoptId'>Radera</a>
</div>

<div class="edition">
    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdoptId" />
            <div class="form-group">
                <label asp-for="AdoptName" class="control-label"></label>
                <input asp-for="AdoptName" class="form-control" />
                <span asp-validation-for="AdoptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup" class="control-label"></label>
                <input asp-for="Pickup" class="form-control" />
                <span asp-validation-for="Pickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatsId" class="control-label"></label>
                <select asp-for="CatsId" class="form-control" asp-items="ViewBag.CatsId"></select>
                <span asp-validation-for="CatsId" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 5px">
            <input type="submit" value="Spara ändringar" class="btn btn-success" />
            </div>
        </form>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
