@{
    ViewData["Title"] = "Kontakta oss";
}

<div class="infocolor">
    <h1>Kontakta oss</h1>
    <h3>
        Har du frågor om våra katter eller katthemmet? Vill du veta hur du kan stödja oss? <br />
        Vi hjälper dig gärna med dina frågor.
    </h3>
</div>

<article class="details">


	<p>
		<b>Gröndals Katthem</b> <br />
    Ekensbergsvägen 118A <br />
    117 69 <br />
    Stockholm
    <br /><br />
    Epost: grondal@katthem.se <br />
    Telefon: 072 147 25 69 <br />
    Vi svarar i telefonen i mån av tid under kontorstider tisdag-fredag och då avlyssnas även telefonsvararen.
Vi nås säkrast via e-post.

</p>
</article>