@{
    ViewData["Title"] = "Stöd oss";
}

<div class="infocolor">
    <h1>Stöd oss</h1>
    <p>Som ideell förening är vi helt beroende av generösa privatpersoner och företag och allt vi kan ha nytta av mottages med stor tacksamhet. Penninggåvor går till Katthemmets verksamhet, med andra ord skötsel och omvårdnad av våra katter utifrån varje katts behov. </p>
</div>

<article class="details">
    
    <p>
        <h4>Swish</h4>

        Om du vill swisha en gåva till Gröndals Katthem använder du nummer 1239111793.

        Tack för ditt bidrag! 
        <br /><br />
		<h4>Plusgiro och Bankgiro</h4>
        Om man vill skänka en slant går det bra att sätta in beloppet på vårt bankgiro 900-1775 eller plusgirokonto 90 01 89-3. Märk inbetalningen med "Gåva". Genom att vi har 90-konto är det dessutom avgiftsfritt att sätta in pengar på alla kontor hos Nordea, Handelsbanken, SEB och Swedbank.
        <br /><br />
		<i>För betalningar från utlandet:</i><br />
        IBAN: SE14 6000 0000 0004 2719 3919<br />
        BIC: HANDSESS<br />
        
        Bank: Handelsbanken<br /><br />

        <img style="width: 100%;" src="img/kattbilder.jpg" alt="3 katter" />
        <br /><br />
		<h4>Kattsaker</h4>
        
        Vi får ofta frågor om vi tar emot t.ex. klösmöbler, kattlådor, transportburar, bädda, leksaker, o.dyl. och det gör vi självklart. Om det handlar om begagnade saker så vill vi att de ska vara hela och rena. Trasiga och smutsiga saker slängs och skapar därför merarbete för oss.
        <br /><br />
		<h4>Blötfoder</h4>
        Vi tar tacksamt emot burkmat då vi alltid har många munnar att mätta. Vi föredrar Mjau burkmat, Whiskas portionspåsar och Gourmet småburkar. Men även annan blötmat tas tacksamt emot!

        <br /><br />
		<h4>Torrfoder</h4>
        
        När det gäller torrfoder har vi valt att servera våra gäster högkvalitativt torrfoder som vi är sponsrade av Hills.
        Vi vill hålla oss till en sort då de flesta kattmagar mår bäst av inte byta foder i onödan eller för ofta. De katter som är i behov av veterinärfoder får naturligtvis det. Om man vill skänka denna typ av foder vill vi helst att förpackningen är oöppnad.

        <br /><br />
		<h4>Kattsand</h4>
        Kattsand går naturligtvis åt i parti och minut, så det tar vi också gärna emot. Vi använder Everclean Unscented.

        <br /><br />
		<h4>Tyger</h4>
        

        Vi tar gärna emot gamla och slitna, men rena, lakan och handdukar som vi klipper till trasor som används i den dagliga städningen. Vi har inte behov av några andra textilier.


        Inlämning av kattsaker, tyger till trasor och mat kan göras vardagar 08-17 och 18.30-20 och helgdagar 09.30-12.30 och 18.30-20, plus söndagar 14-17
    </p>
</article>