@model ProjektKatthem.Models.Cats

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ImgFile" class="control-label"></label>
                <input asp-for="ImgFile" accept="image/*" />
                <span asp-validation-for="ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adopted" class="control-label"></label> <br />
				<!--<input asp-for="Adopted" class="form-control" /> -->
                @Html.RadioButtonFor(m => m.Adopted,"True")Bokad
                @Html.RadioButtonFor(m => m.Adopted,"False")Tillgänglig för adoption

                <span asp-validation-for="Adopted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registered" class="control-label"></label>
                <input asp-for="Registered" class="form-control" />
                <span asp-validation-for="Registered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
